*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #F2E3D5;
}

nav{
align-items: center;
padding: 25px;
position: sticky;
display: flex;
flex-direction: row;
justify-content:space-between;
background-color:#1F438C;
}

.pages{
    display: flex;
    gap: 3em;
}
nav a{
    color:beige;
    font-family: "Phudu", sans-serif;
    font-weight:500;
    font-size: 20pt;
    text-transform: uppercase;
}

nav a:hover{
    color: #FFDF45;
}
a,.stat{
    color: #1F438C;
}

.logo img {
    max-width: 80px;
    height: auto;
}

.malalalogo{
    max-width: 20%;
    height: 30%;
}

.hero{
    width: 100%;
    min-width: 800px;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

.about {
    display: flex;
    flex-direction: column;
}

h1{
    font-family: "Phudu", sans-serif;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    margin-top: 30px;
}
h2{
    font-family: "SUSE", sans-serif;
    font-weight: 200;
    font-size: 14pt;
    font-style: normal;
    background-color: #1F438C;
    color: white;
    padding: 30px;
}
h2:hover{
    color:#FFDF45;
    background-color: black;
}

p{
  font-family: "SUSE", sans-serif;
  font-weight: 200;
  font-size: 14pt;
  font-style: normal;
}

h5{
    font-family: "Nunito";
    font-weight: 400;
    font-size: 10pt;
    font-style: normal;  
}

/*margins*/
.marg{
    margin-left: 50px;
}

/*footer*/
footer {
    background-color:white;
    font-family:"Slabo 13px", serif;
    font-weight: 400;
    font-size:18px;
/**/
    text-align: center;
    padding: 40px;
    margin-top: 30px;
    width: 100%;
}

#future{
    margin: 10px 0 5px 0;
}
/*referenced from: https://www.cssportal.com/css-animated-text-generator/ */
#future:hover{
    animation-name: cry;
    animation-duration: 5s;
    animation-iteration-count:1;
    }
@keyframes cry {  
  100%{
    letter-spacing: normal;
  }  
  70%, 50%{
    letter-spacing: 10px;
  }
}