*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #F2E3D5;
}

nav{
align-items: center;
align-content: center;
align-self: center;
padding: 25px;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#1F438C;
}

nav a{
    color:beige;
    font-family: "Phudu", sans-serif;
    font-weight:500;
    font-size: 20pt;
    text-transform: uppercase;
    text-align: right;
}

main{
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 10%;
}

h1{
    font-family: "Slabo 13px", serif;
    font-weight: 400;
    font-style: normal;
}

p{
  font-family: "SUSE", sans-serif;
  font-weight: 200;
  font-size: 13pt;
  font-style: normal;
}

.hero{
    width: 70%;
    min-width: 800px;
}

.about {
    display: flex;
    flex-direction: column;
}