*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #F2E3D5;
}

nav{
align-items: center;
padding: 25px;
position: sticky;
display: flex;
flex-direction: row;
justify-content:space-between;
background-color:#1F438C;
}

.pages{
    display: flex;
    gap: 3em;
}

nav a{
    color:beige;
    font-family: "Phudu", sans-serif;
    font-weight:500;
    font-size: 20pt;
    text-transform: uppercase;
    text-align: right;
}
nav a:hover{
    color: #FFDF45;
}

.logo img {
    max-width: 80px;
    height: auto;
}
/*Merch Header*/
h2{
    font-family: "Phudu", sans-serif;
    font-weight: 600;
    font-size: 60px;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
    padding: 40px;
    background-color: #9CF0FF;
    position: sticky;
    top: 0;
    z-index: 999;
}

/*items*/
section{
    margin: 30px 0 0 0;
}
.imgs{
    width: 100%;
}
h1{
    font-family: "Phudu", serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 30px;
    background-color:#1F438C;
    color: white;
    padding: 20px;
    border-radius: 1.5em;
    width: 70%;
    height: 60%;
    align-content: center;
    
}
h1:hover{
    color:black;
    background-color: #FFDF45;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
    text-align: center;
    gap: 1em;
    justify-items: center;
}

/*footer*/
footer {
    background-color:white;
    font-family:"Slabo 13px", serif;
    font-weight: 400;
    font-size:18px;
/**/
    text-align: center;
    padding: 40px;
    margin-top: 30px;
    width: 100%;
}
a{
    color: #1F438C;
}