*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #F2E3D5;
}

nav{
align-items: center;
padding: 25px;
padding-right: 10%;
position: sticky;
display: flex;
flex-direction: row;
justify-content: space-between;
height: 8%;
background-color:#1F438C;
}

.pages{
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color:beige;
    font-family: "Phudu", sans-serif;
    font-weight:500;
    font-size: 20pt;
    text-transform: uppercase;
    text-align: right;
}

.logo img {
    max-width: 80px;
    height: auto;
}

h1{
    font-family: "Slabo 13px", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
}
h2{
    font-family: "Slabo 13px", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    padding: 50px;
    background-color: #9CF0FF;
}

p{
  font-family: "SUSE", sans-serif;
  font-weight: 400;
  font-size: 13pt;
}

/*event info*/

#events{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.day1,.day2,.day3,.day4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*footer*/
footer {
    background-color:white;
    font-family:"Slabo 13px", serif;
    font-weight: 400;
    font-size:18px;
/**/
    text-align: center;
    padding: 40px;
    margin-top: 30px;
    width: 100%;
}

/*imgs*/
.eventimg{
    width: 70%;
    min-width: 800px;
}